/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active {
  color: #a70101;
} */
@layer components {
  .iconStyle {
    @apply w-14 h-12 bg-[#ffffff] hover:bg-black duration-300 rounded-md text-2xl text-white hover:text-designColor   justify-center items-center hover:shadow-xl cursor-pointer inline-flex;
  }

  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] text-lightText border-b-gray-600  px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }

  .contactTeaxtArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}

.active {
  color: orangered;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
